* {
    font-family:'Montserrat', sans-serif;
    box-sizing: border-box ;
}

html body {
    margin: 0;
    padding: 0;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 48px;
}

nav {
    font-weight: 900;
    font-size: 64px;

}

#abt {
    margin-left: 12px;
}

#abt:hover {
    color: #ffc108;
}

#scs:hover {
    color: #ffc108;
}

#ctn:hover {
    color: #ffc108;
}

section {
    padding: 64px 128px;
}

h1 {
    font-weight: 700;
    font-size: 48px;

    margin: 0 0 16 0;
}


#abt{
    color: black;
    font-weight: 700;
    font-size: 32px;
    margin-left: 12px;
}

#scs{
    color: black;
    font-weight: 2 700;
    font-size:32px;
    margin-left: 12px;
}

#ctn{
    color: black;
    font-weight: 2 700;
    font-size: 32px;
    margin-left: 12px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: black;
    font-size: 18px;
    column-gap: 16px;
}

.desc-about {
    margin-bottom: 16px;
}

.landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    column-gap: 16px;
}


#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

#about > div {
    width: 50%;
}

#stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#stats > div > div {
    width: 50px;
    height: 10px;
    background-color: #ffc108;
}

.stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;    
}

.btn1 {
    background-color:white;
    color: black;
    padding: 8px;
    border: 2px solid #ffc108;

}

.btn2 {
    background-color: #ffc108;
    color:white;
    padding: 8px;
}

#ourser {
    padding: 0 0 20 0;
}

#service-title {
    padding: 24px 24px;
}

.service-header {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.btnus {
    background-color: #ffc108;
    padding: 8px;
    color: white;
}

#service-article {
    display: grid;
    padding: 6px 64px;
    grid-template-columns: repeat(3, 1fr);
}
.service-detail-item {
    display:grid;
    padding: 10px 10px;
    column-gap: 5px;
    margin-top: 22px;
}

.service-detail-item:hover {
    transform: scale(1.1);
}

.h1-detail {
    font-size: 10px;
    display: flex;
    column-gap: 120px;
    margin-top: 22px;
}

.contact-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    column-gap: 128px;
}

form {
    display: flex;
    flex-direction: column;
    border: 3px solid #ffc108;
    padding: 64px 32px;
}

form h1 {
    font-size: 32px;
    text-align: center;
}
form button{
    border: none;
    background-color: #ffc108;
    font-weight: 700;
    color: white;
    font-size: 15px;
    margin: 10px 2px;
}

.form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    margin-top: 32px;
    grid-template-areas:    "name subject"
                            "email phone"
                            "message  message";
}

#input-name {
    grid-area: name;
}

#input-subject {
    grid-area: subject;
}

#input-email {
    grid-area: email;
}

#input-phone {
    grid-area: phone;
}

#input-message {
    grid-area: message;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    
}

.input-group label {
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 24px;
}

.input-group input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 20px;
}

footer {
    padding: 2px 128px;
    background-color: #ffc108;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: white;
    font-size: 24px;
}

.social-item {
    display: flex;
    gap: 32px;
}

@media only screen and  (max-width: 992px) {
    #header, #footer {
        padding: 16px 32px;
    }

    section {
        padding: 64px 32px;
    }

    img, iframe {
        width: 100%;
    }

    #landing {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }

    #landing > div {
        width: 100%;
    }

    #about {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #about {
        width: 100%;
    }

    .service-detail {
        gap: 16px;
    }

    .contact-detail {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 64px;
    }
}